<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Verificação de Email</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="alert alert-success mt-5" role="alert">
                <h4 class="alert-heading">Email de Verificação Enviado!</h4>
                <p>Enviamos um link de verificação para o seu email. Por favor, verifique sua caixa de entrada e clique no link para validar seu email.</p>
                <hr>
                <p class="mb-0">Se você não encontrar o email na sua caixa de entrada, verifique a pasta de spam.</p>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
