<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Participante - EventHub</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Cadastro de Participante</h1>
    <form id="participantForm" method="post">
        <div class="form-group">
            <label for="nome">Nome Completo:</label>
            <input type="text" class="form-control" id="name" name="nome" required>
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input type="tel" class="form-control" id="phone" name="telefone" required>
        </div>
        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" id="message" name="senha">
        </div>
        <label for="perfil">Tipo de Usuário:</label>
        <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
            <label class="btn btn-primary flex-fill">
                <input type="radio" name="perfil" id="participant" autocomplete="off" value="PARTICIPANTE"> Participante
            </label>
            <label class="btn btn-primary flex-fill ml-2">
                <input type="radio" name="perfil" id="organizer" autocomplete="off" value="ORGANIZADOR"> Organizador
            </label>
        </div>
        </br>
        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>